*{
    box-sizing: border-box;
}
body{
    background-color: cornsilk;
}

main{
    width: 50%;
    margin: 0 auto;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.loader-container {
    width: 100%;
    position: absolute;
    top: 0%;
    height: 250vh;
    background: rgb(220,220,220,0.5);
}

.loader-container__loader-gif {
    position: absolute;
    top: 20%;
    left: 48%;
}

.start-elments-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.start-btn {
    width: 15%;
    height: 3rem;
    border-radius: 0.5rem;
    outline: inherit;
    border: none;
    background: lightcoral;
    color: white;
}

.close-btn {
    border-radius: 2rem;
    outline: inherit;
    border: none;
    background:blue;
    width: 8%;
    background: lightcoral;
    color: white;
}